/* COLORS */

.bg-dark{
    background-color: #032535;
}
.text-dark{
    color: #032535;
}
.bg-color1{
    background-color: #ffb515;
}
.text-color1{
    color: #ffb515;
}
.bg-color2{
    background-color: #ff9a00;
}
.text-color2{
    color: #ff9a00;
}
.bg-color3{
    background-color: #ff5700;
}
.text-color3{
    color: #ff5700;
}
.bg-color4{
    background-color: #da4302;
}
.text-color4{
    color: #da4302;
}

.bg-white{
    background-color:whitesmoke;
}
.text-white{
    color: whitesmoke;
}

/* NAVBAR */


.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar > h1 {
    justify-self: start;
    align-self: center;

}
.navbar > h1 > a{
    text-decoration: none;
}

.navbar > a {
    justify-self: end;
    align-self:  center;
    text-decoration: none;
}

.navbar > a > i {

    font-size: 2rem;
    
}

/* IMAGE ROWS */

.img-grid {
    display: grid;
    /* grid-template-columns: repeat(10, calc(33% -50px)); */
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: minmax(150px, 1fr);
    grid-gap: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
}

.img-wrap{
    position: relative;
}

.image > img {
        width: auto;
        height: 250px;
        margin-right: auto;
        margin-left: auto;
        /* position: absolute; */

        
}

.img-wrap > .icon-left {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.img-wrap > .icon-right {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.icon-right, .icon-left{
    font-size: 2rem;
    color: whitesmoke;
}
.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s ease;
    /* opacity: 0; */
    background-color: #333;
    width: 100%;
    height: 100%;
}

/* cart page */

.cart-item-row{
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr;
    grid-template-rows: 100px;
    padding-top: 1rem;
}
.cart-item-row > *{
    height:inherit;
    align-self: center;
    justify-self: center;
    font-size: 1.3rem;
}
.cart-item-row > img {
    width: auto;
    height: 100px;
    justify-self: start;
}
.cart-item-row > p{
    justify-self: end;
}

.row{
    padding-top: 2rem;
    display:grid;
    grid-template-columns: 7fr 2fr 1fr;
    

}
.row > *{
    grid-column-start: 2;
    justify-self: end;
}



    /* Common button styles */
.buy {
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 0;
	padding: 1rem 2rem;
	border: none;
	background: #032535;
	color: whitesmoke;
	vertical-align: middle;
	position: relative;
    
}

.buy:focus {
	outline: none;
}

.buy > span {
	vertical-align: middle;
}

